.t-combobox {
  position: relative;
  box-sizing: border-box;
  font-size: 13px;
}

.t-combobox .t-combobox-input {
  padding-right: 36px;
}

.t-combobox-list {
  margin-top: 6px;
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  z-index: 1;
  display: none;
  background-color: var(--white-color);
}

.t-combobox-list .t-combobox-item {
  height: 36px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.t-combobox-list .t-combobox-item:hover {
  background-color: var(--hover-color);
  color: var(--primary-color);
  cursor: pointer;
}

.t-combobox-wrapper {
  max-width: 200px;
}

.t-combobox-list .item-active {
  background-color: var(--hover-color);
  color: var(--primary-color);
}

#cbxPageSize .t-combobox-list {
  top: -615%;
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  z-index: 1;
  display: none;
  background-color: var(--white-color);
}

#cbxPageSize .t-combobox-item.selected {
  background-color: var(--primary-color);
  color: var(--white-color);
}
